.main{

    padding: 50px;
    border-style: solid;
    border-width: 2px;
    width: 300px;
    height: 450px;
    margin: 100px auto;
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;

}

.username{
    background-color: rgb(182, 179, 179);
    border: 2px solid #adadad;
    width: 100%;
    margin: 0px auto 5px 0px;
    padding: 5px;
    height: 10px;
    font-size: 15px;
    margin-top: 7px;
    text-align: center;
}
 
.user-name  {
    width: 100%;
    border: 2px solid #adadad;
    margin: 0px auto 5px 0px;
    padding: 5px;
    height: 10px;
    font-size: 15px;
    margin-top: 7px;
    text-align: center;
   
}
.heading_top{
    grid-template-columns: auto;
    background-color: rgb(182, 179, 179);
    text-align: center;

}
.form_grid{
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    row-gap: 10px;
}
.form-control{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    column-gap: 20px;
}
body{  
    background-color: #FFFFFF;
     }


#submit{
    display: grid;
    grid-template-columns: auto;
    font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-image:linear-gradient(120deg,#2980b9,#8e44ad);
  padding: 10px;
  color: #FFFFFF;
  font-size: 20px;
  margin-left: 35%;

}
#submit:hover{
   
        transform: scale(1.1); 
        transition: transform 0.5s; 

}
.form-control small{
    visibility: hidden;
position: absolute;
margin: 3px;

}

input:invalid {
    border: 2px solid red;
}

.message{
    background-color: red;
    text-align: left;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  ul {
    height: 50%;
    padding: 0px 5px 0px 20px;
  }
  
  a {
    color: #17a2b8;
  }
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
  }
  
  .clearfix {
    margin: 15px;
  }
  .form {
    margin: auto;
  }
  
  .form input, .form select, .form textarea {
    border-radius: 5px;
    border: 1px solid #17a2b8;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
  }