<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    <link rel="stylesheet" type="text/css" href="../static/registration.css">
    
</head>
<body>
    {%block content%}    
        {%with messages = get_flashed_messages()%}
            {%if messages%}
                <div style="background-color:#f44336;font-family: sans-serif; color: white; text-align: left;">
                    <span class="closebtn" style="margin-left: 15px;
                    color: white;
                    font-weight: bold;
                    float: right;
                    font-size: 22px;
                    line-height: 20px;
                    cursor: pointer;
                    transition: 0.3s;">&times;</span> 
                <h2>Error!!</h2>
                {%for msg in messages%}
                        <h3>{{msg}}</h3>
                {%endfor%}
            </div>
            {%endif%}
        {%endwith%}
    {%endblock%}
    <div class="main">
    <header>
        <h1 class='heading_top'> Registration form </h1>
    </header>
    <form name ="regisf" id="regisform" method="POST">
        <section class="form_grid">

        <div class="form-control">
        <label for="username" class="username">User-name :</label>
        <input type="text" name = "user_name" id="username" class="user-name" placeholder="User-name" name="username" >
    </div >
    <div class="form-control">
        <label for="Email" class="username"> Email : </label>
        <input type="Email" name = "user_email" class="user-name" id="email"  placeholder="Email"  name="Email"  >
       
    </div>
        <div class="form-control">
        <label for="password" class="username"> Password :</label>
        <input type="password" name = "password" class="user-name" id="password" placeholder="Password" name="password" >
       
    <!-- </div>
        <div class="form-control">
        <label for="confirm password" class="username">ConfirmPassword : </label>
        <input type="password" class="user-name" id="confirmpassword"    placeholder="confirm password"name="confirmpassword" >
        
    </div> -->
    </section><br><br>
     <!--    <input type="checkbox" name="age " required>
        <label for="age"> Are you 13 years above ?</label><br><br>
         <input type="checkbox" name=" rules " required>
        <label for="rules"> please accept the <a href="url">TOS and privacy rules </a> </label ><br><br>
      -->   

        <button type="submit" id="submit" class="submit_grid">Login</button> 
      </form>
    </div>
    <script>
        var close = document.getElementsByClassName("closebtn");
        var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
    </script>
</body>
</html>